doctype doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    link(rel='stylesheet', href='/style.css', type='text/css' )
    body
    .curve-l
    .curve-r
    .wrapper 
        .sub-wrap
            .mobile
                .one
                    .wrapper-one
                        .profile
                        .text 
                            .name Samuel Green 
                            .avail Available to Walk
                .two
                    .wrap-one 
                        .box-1
                            .text-1.text That sounds great. I’d be happy with that.
                            .text-2.text Could you send over some pictures of your dog, please?
                            
                    .wrap-two 
                        .box-2
                            .pic
                                -for(i=1;i<=3;i++)
                                    div(class='pic_'+i)
                                        background-image: url('images/dog-image-1.jpg')
                            .text-1.text Here are a few pictures. She’s a happy girl!
                            .text-2.text Can you make it?
                    .wrap-three
                        .box-3
                            .text-1 She looks so happy! The time we discussed works. How long shall I take her out for?
                            .text-2.f 
                                span 30 minute walk
                                span#one  $29
                            .text-3.f
                                span 1 hour walk
                                span#two  $49
    
                .three
                    .type   Type a message...
                    .icon
                        .ic >
        .text
            p#head Simple Booking
            p Stay in touch with our dog walkers through the chat interface. This makes it easy to discuss arrangements and make bookings. Once the walk has been completed you can rate your walker and book again all through the chat.